/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 17, 2016, 10:02:21 PM
    Author     : adm
*/

body 
{
    background: #ffffff url("armor.jpg") no-repeat fixed center;
}

.helm
{
    position: absolute;
    left: 38%;
    top: 20%;
}